html {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}
body {
  padding: 0;
  margin: 0;
}
nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(161, 72, 72);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.486);
  z-index: 10;
}
nav ul {
  padding-right: 5rem;
  padding-bottom: 0.3rem;
}
@media screen and (max-width: 375px) {
  nav ul {
    padding-right: 2rem;
    padding-bottom: 0.3rem;
  }
}
nav ul li {
  display: inline;
}
a {
  text-decoration: none;
}
nav a {
  font-size: 1.3rem;
  padding-left: 2rem;
  color: white;
}
#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to top right, #000, rgb(92, 66, 66));
}
.appeal {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 3.5rem;
  margin-bottom: 0;
  text-align: center;
}
.appeal_p {
  color: hsl(0, 38%, 60%);
  font-size: 1.5rem;
}
#projects {
  background: linear-gradient(to right, rgb(39, 94, 112), rgb(82, 118, 129));
}
.projects_title {
  display: flex;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  color: #fff;
  border-bottom: 0.15rem solid #fff;
  max-width: 450px;
  margin: 0 auto 5rem auto;
  padding-top: 5rem;
}
@media screen and (max-width: 640px) {
  .projects_title {
    max-width: 300px;
    text-align: center;
  }
}
.courses {
  display: flex;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  color: #fff;
}
.project_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}
@media screen and (max-width: 1250px) {
  .project_grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .project_grid {
    display: flex;
    flex-wrap: wrap;
  }
}
.project_cell:nth-child(10) {
  grid-column-start: 2;
}
.project_cell figcaption {
  text-align: center;
  color: #fff;
  background-color: lightslategray;
  margin-top: 0;
  padding-top: 0;
}
.project_cell img {
  width: 560px;
}
@media screen and (max-width: 1080px) {
  .project_cell img {
    width: 460px;
  }
}
@media screen and (max-width: 768px) {
  .project_cell img {
    width: 300px;
  }
}
footer {
  background-color: hsl(0, 16%, 18%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}
.icon a {
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
}
